body {
  font-family: Jost;
}
.display-1 {
  font-family: 'Jost', sans-serif;
  font-size: 4.375rem;
}
.display-1 > .mbr-iconfont {
  font-size: 4.375rem;
}
.display-2 {
  font-family: 'Jost', sans-serif;
  font-size: 2rem;
}
.display-2 > .mbr-iconfont {
  font-size: 2rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 0.9375rem;
}
.display-4 > .mbr-iconfont {
  font-size: 0.9375rem;
}
.display-5 {
  font-family: 'Dancing Script', handwriting;
  font-size: 1.875rem;
}
.display-5 > .mbr-iconfont {
  font-size: 1.875rem;
}
.display-7 {
  font-family: 'Jost', sans-serif;
  font-size: 1.375rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.375rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 3.5rem;
    font-size: calc( 2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (2.18125rem + (4.375 - 2.18125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 1.6rem;
    font-size: calc( 1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.35rem + (2 - 1.35) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.75rem;
    font-size: calc( 0.978125rem + (0.9375 - 0.978125) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (0.978125rem + (0.9375 - 0.978125) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.5rem;
    font-size: calc( 1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.30625rem + (1.875 - 1.30625) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn {
  padding: 10px 15px;
  border-radius: 6px;
}
.btn-sm {
  padding: 18px 38px;
  border-radius: 6px;
}
.btn-md {
  padding: 18px 42px;
  border-radius: 6px;
}
.btn-lg {
  padding: 20px 47px;
  border-radius: 6px;
}
.bg-primary {
  background-color: #13287d !important;
}
.bg-success {
  background-color: #00acee !important;
}
.bg-info {
  background-color: #83868c !important;
}
.bg-warning {
  background-color: #eff2f7 !important;
}
.bg-danger {
  background-color: #0a1126 !important;
}
.btn-primary,
.btn-primary:active,
.btn-primary.active {
  background-color: #13287d !important;
  border-color: #13287d !important;
  color: #ffffff !important;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus {
  color: #ffffff !important;
  background-color: #09133b !important;
  border-color: #09133b !important;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #09133b !important;
  border-color: #09133b !important;
}
.btn-secondary,
.btn-secondary:active,
.btn-secondary.active {
  background-color: #279e64 !important;
  border-color: #279e64 !important;
  color: #ffffff !important;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus {
  color: #ffffff !important;
  background-color: #18613d !important;
  border-color: #18613d !important;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #18613d !important;
  border-color: #18613d !important;
}
.btn-info,
.btn-info:active,
.btn-info.active {
  background-color: #83868c !important;
  border-color: #83868c !important;
  color: #ffffff !important;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus {
  color: #ffffff !important;
  background-color: #5e6065 !important;
  border-color: #5e6065 !important;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #5e6065 !important;
  border-color: #5e6065 !important;
}
.btn-success,
.btn-success:active,
.btn-success.active {
  background-color: #00acee !important;
  border-color: #00acee !important;
  color: #ffffff !important;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus {
  color: #ffffff !important;
  background-color: #0075a2 !important;
  border-color: #0075a2 !important;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #0075a2 !important;
  border-color: #0075a2 !important;
}
.btn-warning,
.btn-warning:active,
.btn-warning.active {
  background-color: #eff2f7 !important;
  border-color: #eff2f7 !important;
  color: #4d6a9a !important;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus {
  color: #4d6a9a !important;
  background-color: #bcc9de !important;
  border-color: #bcc9de !important;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #4d6a9a !important;
  background-color: #bcc9de !important;
  border-color: #bcc9de !important;
}
.btn-danger,
.btn-danger:active,
.btn-danger.active {
  background-color: #0a1126 !important;
  border-color: #0a1126 !important;
  color: #ffffff !important;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #000000 !important;
  border-color: #000000 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active,
.btn-white.active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080 !important;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080 !important;
  background-color: #d9d9d9 !important;
  border-color: #d9d9d9 !important;
}
.btn-black,
.btn-black:active,
.btn-black.active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff !important;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff !important;
  background-color: #0d0d0d !important;
  border-color: #0d0d0d !important;
}
.btn-primary-outline,
.btn-primary-outline:active,
.btn-primary-outline.active {
  background: none;
  border-color: #060c24;
  color: #060c24;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus {
  color: #ffffff;
  background-color: #13287d;
  border-color: #13287d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #13287d !important;
  border-color: #13287d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  background: none;
  border-color: #134c30;
  color: #134c30;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus {
  color: #ffffff;
  background-color: #279e64;
  border-color: #279e64;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #279e64 !important;
  border-color: #279e64 !important;
}
.btn-info-outline,
.btn-info-outline:active,
.btn-info-outline.active {
  background: none;
  border-color: #515358;
  color: #515358;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus {
  color: #ffffff;
  background-color: #83868c;
  border-color: #83868c;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #83868c !important;
  border-color: #83868c !important;
}
.btn-success-outline,
.btn-success-outline:active,
.btn-success-outline.active {
  background: none;
  border-color: #006288;
  color: #006288;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus {
  color: #ffffff;
  background-color: #00acee;
  border-color: #00acee;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #00acee !important;
  border-color: #00acee !important;
}
.btn-warning-outline,
.btn-warning-outline:active,
.btn-warning-outline.active {
  background: none;
  border-color: #abbbd5;
  color: #abbbd5;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus {
  color: #4d6a9a;
  background-color: #eff2f7;
  border-color: #eff2f7;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #4d6a9a !important;
  background-color: #eff2f7 !important;
  border-color: #eff2f7 !important;
}
.btn-danger-outline,
.btn-danger-outline:active,
.btn-danger-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus {
  color: #ffffff;
  background-color: #0a1126;
  border-color: #0a1126;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #0a1126 !important;
  border-color: #0a1126 !important;
}
.btn-black-outline,
.btn-black-outline:active,
.btn-black-outline.active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #13287d !important;
}
.text-secondary {
  color: #279e64 !important;
}
.text-success {
  color: #00acee !important;
}
.text-info {
  color: #83868c !important;
}
.text-warning {
  color: #eff2f7 !important;
}
.text-danger {
  color: #0a1126 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #060c24 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #134c30 !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #006288 !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #515358 !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #abbbd5 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #000000 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #b3b3b3 !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #83868c;
}
.alert-warning {
  background-color: #eff2f7;
}
.alert-danger {
  background-color: #0a1126;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #13287d;
  border-color: #13287d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #13287d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #3053e0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #bbecff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #c5c7c9;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #acbbe9;
}
.scrollToTop_wraper {
  display: none !important;
}
.form-control {
  font-family: 'Jost', sans-serif;
  font-size: 1.375rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.375rem;
}
blockquote {
  border-color: #13287d;
}
/* Forms */
.mbr-form .btn {
  margin: 0.4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
}
.btn-primary:hover {
  color: #13287d !important;
  background: white !important;
  border-color: white !important;
}
.form-control,
.jq-number__spin {
  background-color: #ffffff;
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #13287d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: currentColor;
  border-bottom-color: currentColor;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #13287d;
  border-bottom-color: #13287d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #13287d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #ffffff !important;
  background: #279e64 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%2313287d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
*:focus-visible {
  outline: red solid 2px !important;
  outline-offset: 2px !important;
  transition: outline 0.2s ease-in-out;
}
.cid-s2V9RwV6vb .navbar {
  padding: 0.5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-s2V9RwV6vb .navbar-fixed-top {
  padding-top: 0;
}
.cid-s2V9RwV6vb .navbar-collapse {
  flex-basis: auto;
  transition: all 0.3s ease-in;
}
.cid-s2V9RwV6vb .navbar-collapse.show {
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 100%;
  z-index: 999;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  bottom: auto;
  left: 0px;
  right: 0px;
}
.cid-s2V9RwV6vb .navbar-collapse.show .navbar-nav .nav-item {
  text-align: left;
  padding: 10px 0;
}
.cid-s2V9RwV6vb .navbar-buttons {
  flex-wrap: wrap;
}
.cid-s2V9RwV6vb .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-s2V9RwV6vb .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-s2V9RwV6vb .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  padding-right: 2rem;
}
.cid-s2V9RwV6vb .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-s2V9RwV6vb .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-s2V9RwV6vb .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-s2V9RwV6vb .menu-content-top {
  background: #ffffff;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  align-items: center;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-s2V9RwV6vb .menu-content-top .right-wrap .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-s2V9RwV6vb .dropdown-item {
  font-weight: 400;
  margin: 0 !important;
  padding: 0 40px !important;
  line-height: 2.6;
}
.cid-s2V9RwV6vb .dropdown-item,
.cid-s2V9RwV6vb .nav-link,
.cid-s2V9RwV6vb .brand-name {
  font-style: normal;
}
.cid-s2V9RwV6vb .dropdown-item:hover,
.cid-s2V9RwV6vb .nav-link:hover,
.cid-s2V9RwV6vb .brand-name:hover {
  color: #00acee !important;
}
.cid-s2V9RwV6vb .dropdown-menu {
  background-color: #ffffff;
}
.cid-s2V9RwV6vb .dropdown-item:active {
  background-color: #ffffff;
}
.cid-s2V9RwV6vb .menu-bottom {
  margin: auto;
  width: 100%;
  display: flex;
  padding: 0rem 2rem;
  position: relative;
  align-items: center;
  justify-content: center;
}
.cid-s2V9RwV6vb .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-s2V9RwV6vb .nav-item {
  position: relative;
}
.cid-s2V9RwV6vb .nav-item span {
  padding-right: 0.4em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-s2V9RwV6vb .nav-item .nav-link {
  transition: all 0.3s ease-in-out 0ms;
}
.cid-s2V9RwV6vb .nav-item .nav-link:focus {
  outline: none;
}
@media (min-width: 991px) {
  .cid-s2V9RwV6vb .nav-link {
    line-height: 6.13;
  }
  .cid-s2V9RwV6vb .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 0;
    margin: auto;
    opacity: 0;
    border-top: 2px solid #00acee;
    transition: all 0.3s ease-in-out 0ms;
  }
  .cid-s2V9RwV6vb .navbar-nav > li:hover > a:before {
    opacity: 1;
    width: 100%;
  }
  .cid-s2V9RwV6vb .dropdown-item {
    color: #83868c !important;
    border-bottom: 0px solid #4f5b77;
  }
}
.cid-s2V9RwV6vb .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s2V9RwV6vb .content-text {
  margin-bottom: 0;
}
.cid-s2V9RwV6vb .navbar-nav {
  position: relative;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-s2V9RwV6vb .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #13287d;
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-s2V9RwV6vb .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-s2V9RwV6vb .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-s2V9RwV6vb .navbar-nav .nav-item .link {
  margin: 0 20px !important;
}
.cid-s2V9RwV6vb .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-s2V9RwV6vb .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-s2V9RwV6vb .content-right-side {
  text-align: center;
}
.cid-s2V9RwV6vb .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-s2V9RwV6vb .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-s2V9RwV6vb .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
  color: #00acee !important;
}
.cid-s2V9RwV6vb .widget-icon.mobi-mbri-phone {
  -webkit-animation: phone-icon-animate 1s ease-in-out infinite;
  animation: phone-icon-animate 1s ease-in-out infinite;
}
.cid-s2V9RwV6vb .info-widget {
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-s2V9RwV6vb .info-widget:first-child {
  margin-left: 0;
}
.cid-s2V9RwV6vb .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-s2V9RwV6vb .widget-content .widget-title {
  margin-bottom: 3px;
  line-height: 1.7;
}
.cid-s2V9RwV6vb .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-s2V9RwV6vb .navbar .menu-content-top {
  display: flex;
  height: 90px;
  border-bottom: 1px solid #e1e3e6;
}
@media (min-width: 992px) {
  .cid-s2V9RwV6vb .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }
  .cid-s2V9RwV6vb .navbar {
    display: block;
    padding: 0;
  }
  .cid-s2V9RwV6vb .navbar .menu-logo {
    margin: auto;
    display: flex;
    align-items: center;
  }
  .cid-s2V9RwV6vb .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    align-self: auto;
    display: flex;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-s2V9RwV6vb .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-s2V9RwV6vb .navbar-toggler {
    display: none;
  }
  .cid-s2V9RwV6vb .navbar-collapse {
    justify-content: center;
  }
}
.cid-s2V9RwV6vb .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-s2V9RwV6vb .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  overflow: hidden;
  margin-right: 0;
}
.cid-s2V9RwV6vb .btn-sm {
  padding: 13px 29px;
}
.cid-s2V9RwV6vb .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-s2V9RwV6vb .btn::after {
  background-color: #83868c;
  content: "";
  height: 150px;
  left: -75px;
  position: absolute;
  top: -60px;
  transform: rotate(35deg);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  opacity: 0;
  outline: none;
  text-decoration: none;
}
.cid-s2V9RwV6vb .btn:hover::after {
  left: 250px;
  opacity: 0.8;
}
.cid-s2V9RwV6vb .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-s2V9RwV6vb .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-s2V9RwV6vb .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  align-self: center;
}
.cid-s2V9RwV6vb .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-s2V9RwV6vb .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding: 25px 0;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-s2V9RwV6vb .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-s2V9RwV6vb .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-s2V9RwV6vb .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-s2V9RwV6vb .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-s2V9RwV6vb .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-s2V9RwV6vb .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-s2V9RwV6vb .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-s2V9RwV6vb .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-s2V9RwV6vb .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-s2V9RwV6vb .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  transition: font-size 0.25s;
}
.cid-s2V9RwV6vb .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-s2V9RwV6vb .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-s2V9RwV6vb .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-s2V9RwV6vb button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
  margin-right: 0;
}
.cid-s2V9RwV6vb button.navbar-toggler:focus {
  outline: none;
}
.cid-s2V9RwV6vb button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #282828;
}
.cid-s2V9RwV6vb button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-s2V9RwV6vb button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-s2V9RwV6vb button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-s2V9RwV6vb button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-s2V9RwV6vb nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-s2V9RwV6vb nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-s2V9RwV6vb nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-s2V9RwV6vb nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-s2V9RwV6vb .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-s2V9RwV6vb .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-s2V9RwV6vb .collapsed .btn {
  display: flex;
}
.cid-s2V9RwV6vb .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-s2V9RwV6vb .collapsed .navbar-collapse.collapsing,
.cid-s2V9RwV6vb .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-s2V9RwV6vb .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-s2V9RwV6vb .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-s2V9RwV6vb .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-s2V9RwV6vb .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-s2V9RwV6vb .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-s2V9RwV6vb .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cid-s2V9RwV6vb .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-s2V9RwV6vb .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-s2V9RwV6vb .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-s2V9RwV6vb .collapsed button.navbar-toggler {
  display: block;
}
.cid-s2V9RwV6vb .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-s2V9RwV6vb .collapsed .navbar-toggleable-sm {
  flex-direction: column;
}
.cid-s2V9RwV6vb .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-s2V9RwV6vb .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-s2V9RwV6vb .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-s2V9RwV6vb .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-s2V9RwV6vb .collapsed .menu-bottom {
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-s2V9RwV6vb .dropdown-menu {
    margin-top: 0px;
    background-color: transparent;
    color: black !important;
    padding-left: 20px !important;
  }
  .cid-s2V9RwV6vb .dropdown-menu .dropdown-item {
    text-align: left;
    font-weight: 700;
  }
  .cid-s2V9RwV6vb .menu-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .cid-s2V9RwV6vb .menu-bottom .menu-content-right {
    display: none;
  }
  .cid-s2V9RwV6vb .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
    opacity: 0;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0px;
    right: 0px;
    z-index: 999;
  }
  .cid-s2V9RwV6vb .navbar-collapse .navbar-nav .nav-item {
    clear: both;
    text-align: left;
    padding: 10px 0;
  }
  .cid-s2V9RwV6vb .navbar-collapse.collapsing,
  .cid-s2V9RwV6vb .navbar-collapse.show {
    display: block !important;
  }
  .cid-s2V9RwV6vb .navbar-collapse.collapsing .navbar-nav,
  .cid-s2V9RwV6vb .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-s2V9RwV6vb .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-s2V9RwV6vb .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-s2V9RwV6vb .navbar-collapse.collapsing .navbar-nav .nav-item .nav-link,
  .cid-s2V9RwV6vb .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    font-weight: 700;
  }
  .cid-s2V9RwV6vb .navbar-collapse.collapsing .navbar-buttons,
  .cid-s2V9RwV6vb .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-s2V9RwV6vb .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-s2V9RwV6vb .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-s2V9RwV6vb img {
    height: 3.8rem !important;
  }
  .cid-s2V9RwV6vb .btn {
    display: flex;
  }
  .cid-s2V9RwV6vb button.navbar-toggler {
    display: block;
  }
  .cid-s2V9RwV6vb .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-s2V9RwV6vb .navbar-toggleable-sm {
    flex-direction: column;
  }
  .cid-s2V9RwV6vb .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-s2V9RwV6vb .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-s2V9RwV6vb .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-s2V9RwV6vb .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-s2V9RwV6vb .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-s2V9RwV6vb .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-s2V9RwV6vb .navbar-toggler {
  position: relative;
}
.cid-s2V9RwV6vb .dropdown-item.active,
.cid-s2V9RwV6vb .dropdown-item:active {
  color: initial;
}
.cid-s2V9RwV6vb .widget-title {
  color: #83868c;
}
.cid-s2V9RwV6vb .widget-text {
  color: #83868c;
}
.cid-s2V9RwV6vb .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
.cid-s2V9RwV6vb .icons-menu .mbr-iconfont {
  font-size: 1rem;
  color: #13287d;
  display: inline-flex;
  background-color: #f3f9ff;
  border-radius: 100%;
  transition: all 0.3s ease-in;
}
.cid-s2V9RwV6vb .icons-menu .mbr-iconfont:before {
  padding: .75rem;
}
.cid-s2V9RwV6vb .icons-menu .mbr-iconfont:hover {
  color: #ffffff;
  background-color: #00acee;
  -webkit-animation-name: animation-pulse;
  animation-name: animation-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: .9;
}
.cid-s2V9RwV6vb .soc-item {
  margin: .5rem .3rem;
}
@media (max-width: 768px) {
  .cid-s2V9RwV6vb .menu-content-top .icons-menu {
    padding-left: 0;
  }
  .cid-s2V9RwV6vb .menu-content-top .icons-menu .soc-item .mbr-iconfont {
    font-size: 14px;
  }
  .cid-s2V9RwV6vb .menu-content-top .icons-menu .soc-item .mbr-iconfont::before {
    padding: 0.44rem;
  }
  .cid-s2V9RwV6vb .menu-content-top .right-wrap .info-widget {
    margin-left: 20px;
  }
  .cid-s2V9RwV6vb .menu-content-top .right-wrap .info-widget:first-child {
    margin-left: 0;
  }
  .cid-s2V9RwV6vb .menu-content-top .right-wrap .info-widget .widget-content {
    display: none;
  }
  .cid-s2V9RwV6vb .menu-content-top .right-wrap .info-widget .widget-icon {
    font-size: 25px;
    padding-right: 0;
  }
  .cid-s2V9RwV6vb .navbar-brand {
    margin-left: 0 !important;
  }
}
@media (max-width: 576px) {
  .cid-s2V9RwV6vb .menu-content-top,
  .cid-s2V9RwV6vb .menu-bottom {
    padding: 0 15px;
  }
  .cid-s2V9RwV6vb button.navbar-toggler {
    align-self: center;
  }
}
@-webkit-keyframes phone-icon-animate {
  0%,
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  20%,
  40% {
    transform: rotate(20deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes phone-icon-animate {
  0%,
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  20%,
  40% {
    transform: rotate(20deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-webkit-keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
.cid-s2V9RwV6vb .icons-menu .mbr-iconfont {
  color: #00acee !important;
}
.cid-s2V9RwV6vb .mobi-mbri-phone {
  color: #00acee !important;
}
.cid-s2V9RwV6vb .mobi-mbri-letter {
  color: #00acee !important;
}
#Hero {
  /* Type valid CSS here */
}
#discount #gg-rewards .rw-feat h4 {
  font-size: 16px;
  font-weight: 800;
  color: var(--text);
  margin: 0;
}
#discount #gg-rewards .rw-feat p {
  font-size: 14px;
  color: var(--muted);
  line-height: 1.5;
  margin: 0;
}
.cid-vfcEgwx76N {
  padding-top: 0rem;
  padding-bottom: 0rem;
  background-image: url("../../../assets/images/airbrush-image-enhancer-1774772603357-1774772603357-2000x2741.png");
}
.cid-vfcEgwx76N .mbr-fallback-image.disabled {
  display: none;
}
.cid-vfcEgwx76N .mbr-fallback-image {
  display: block;
  background-size: cover;
  background-position: center center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}
.cid-vfcEgwx76N .image-wrap {
  height: 400px;
}
@media (max-width: 992px) {
  .cid-vfcEgwx76N .image-wrap {
    height: 300px;
  }
}
.cid-vgKv9CQAUN .navbar {
  padding: 0.5rem 0;
  background: #ffffff;
  transition: none;
  min-height: 50px;
}
.cid-vgKv9CQAUN .navbar-fixed-top {
  padding-top: 0;
}
.cid-vgKv9CQAUN .navbar-collapse {
  flex-basis: auto;
  transition: all 0.3s ease-in;
}
.cid-vgKv9CQAUN .navbar-collapse.show {
  position: absolute;
  opacity: 1;
  visibility: visible;
  top: 100%;
  z-index: 999;
  background-color: #ffffff;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  padding: 15px 20px;
  bottom: auto;
  left: 0px;
  right: 0px;
}
.cid-vgKv9CQAUN .navbar-collapse.show .navbar-nav .nav-item {
  text-align: left;
  padding: 10px 0;
}
.cid-vgKv9CQAUN .navbar-buttons {
  flex-wrap: wrap;
}
.cid-vgKv9CQAUN .menu-logo .navbar-brand {
  display: flex;
  margin-left: 1.5rem;
  padding: 0.5rem 0;
  transition: padding 0.2s;
  min-height: 3.8rem;
  align-items: center;
}
.cid-vgKv9CQAUN .menu-logo .navbar-brand .navbar-caption-wrap {
  display: flex;
  align-items: center;
  word-break: break-word;
  min-width: 7rem;
  margin: 0.3rem 0;
}
.cid-vgKv9CQAUN .menu-logo .navbar-brand .navbar-caption-wrap .navbar-caption {
  padding-right: 2rem;
}
.cid-vgKv9CQAUN .menu-logo .navbar-brand .navbar-logo {
  font-size: 4rem;
  transition: font-size 0.25s;
}
.cid-vgKv9CQAUN .menu-logo .navbar-brand .navbar-logo img {
  display: flex;
}
.cid-vgKv9CQAUN .menu-logo .navbar-brand .navbar-logo .mbr-iconfont {
  transition: font-size 0.25s;
}
.cid-vgKv9CQAUN .menu-content-top {
  background: #ffffff;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 2rem;
  width: 100%;
  align-items: center;
  overflow: hidden;
  transition: min-height 0.25s ease-in-out;
}
.cid-vgKv9CQAUN .menu-content-top .right-wrap .info-widget:first-child {
  padding-left: 0;
  border-left: none;
}
.cid-vgKv9CQAUN .dropdown-item {
  font-weight: 400;
  margin: 0 !important;
  padding: 0 40px !important;
  line-height: 2.6;
}
.cid-vgKv9CQAUN .dropdown-item,
.cid-vgKv9CQAUN .nav-link,
.cid-vgKv9CQAUN .brand-name {
  font-style: normal;
}
.cid-vgKv9CQAUN .dropdown-item:hover,
.cid-vgKv9CQAUN .nav-link:hover,
.cid-vgKv9CQAUN .brand-name:hover {
  color: #00acee !important;
}
.cid-vgKv9CQAUN .dropdown-menu {
  background-color: #ffffff;
}
.cid-vgKv9CQAUN .dropdown-item:active {
  background-color: #ffffff;
}
.cid-vgKv9CQAUN .menu-bottom {
  margin: auto;
  width: 100%;
  display: flex;
  padding: 0rem 2rem;
  position: relative;
  align-items: center;
  justify-content: center;
}
.cid-vgKv9CQAUN .navbar-dropdown.bg-color.transparent.opened {
  background: #ffffff;
}
.cid-vgKv9CQAUN .nav-item {
  position: relative;
}
.cid-vgKv9CQAUN .nav-item span {
  padding-right: 0.4em;
  vertical-align: text-bottom;
  position: relative;
  top: -0.2em;
  text-decoration: none;
}
.cid-vgKv9CQAUN .nav-item .nav-link {
  transition: all 0.3s ease-in-out 0ms;
}
.cid-vgKv9CQAUN .nav-item .nav-link:focus {
  outline: none;
}
@media (min-width: 991px) {
  .cid-vgKv9CQAUN .nav-link {
    line-height: 6.13;
  }
  .cid-vgKv9CQAUN .navbar-nav > li > a:before {
    content: "";
    position: absolute;
    top: -1px;
    left: 0;
    width: 0;
    margin: auto;
    opacity: 0;
    border-top: 2px solid #00acee;
    transition: all 0.3s ease-in-out 0ms;
  }
  .cid-vgKv9CQAUN .navbar-nav > li:hover > a:before {
    opacity: 1;
    width: 100%;
  }
  .cid-vgKv9CQAUN .dropdown-item {
    color: #83868c !important;
    border-bottom: 0px solid #4f5b77;
  }
}
.cid-vgKv9CQAUN .dropdown-item:before {
  font-family: MobiriseIcons !important;
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  transform: scale(0, 1);
  transition: all 0.25s ease-in-out;
}
.cid-vgKv9CQAUN .content-text {
  margin-bottom: 0;
}
.cid-vgKv9CQAUN .navbar-nav {
  position: relative;
  flex-direction: row;
}
@media (min-width: 992px) {
  .cid-vgKv9CQAUN .navbar-nav .main-menu-animated-line {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 100;
    border-top: 4px solid #13287d;
    transition: width 0.4s, left 0.6s cubic-bezier(0.19, 0.65, 0.02, 0.93);
  }
  .cid-vgKv9CQAUN .navbar-nav .main-menu-animated-line.bottom {
    bottom: 0;
  }
}
.cid-vgKv9CQAUN .navbar-nav .nav-item span {
  padding-right: 0;
}
.cid-vgKv9CQAUN .navbar-nav .nav-item .link {
  margin: 0 20px !important;
}
.cid-vgKv9CQAUN .navbar-buttons.mbr-section-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cid-vgKv9CQAUN .menu .navbar-brand .logo-text-part {
  vertical-align: top;
}
.cid-vgKv9CQAUN .content-right-side {
  text-align: center;
}
.cid-vgKv9CQAUN .content-right-side .content-link {
  margin-left: 2rem;
}
.cid-vgKv9CQAUN .content-right-side .content-link span {
  vertical-align: middle;
  padding-right: 1rem;
}
.cid-vgKv9CQAUN .widget-icon {
  display: inline-block;
  padding-right: 1rem;
  font-size: 1.65rem;
  color: #00acee !important;
}
.cid-vgKv9CQAUN .widget-icon.mobi-mbri-phone {
  -webkit-animation: phone-icon-animate 1s ease-in-out infinite;
  animation: phone-icon-animate 1s ease-in-out infinite;
}
.cid-vgKv9CQAUN .info-widget {
  margin-left: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.cid-vgKv9CQAUN .info-widget:first-child {
  margin-left: 0;
}
.cid-vgKv9CQAUN .widget-content {
  display: inline-block;
  vertical-align: top;
  text-align: left;
}
.cid-vgKv9CQAUN .widget-content .widget-title {
  margin-bottom: 3px;
  line-height: 1.7;
}
.cid-vgKv9CQAUN .widget-content .widget-text {
  margin-bottom: 0;
}
.cid-vgKv9CQAUN .navbar .menu-content-top {
  display: flex;
  height: 90px;
  border-bottom: 1px solid #e1e3e6;
}
@media (min-width: 992px) {
  .cid-vgKv9CQAUN .content-right-side {
    text-align: right;
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
  }
  .cid-vgKv9CQAUN .navbar {
    display: block;
    padding: 0;
  }
  .cid-vgKv9CQAUN .navbar .menu-logo {
    margin: auto;
    display: flex;
    align-items: center;
  }
  .cid-vgKv9CQAUN .navbar.navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
    align-self: auto;
    display: flex;
    align-items: center;
    z-index: 101;
    min-height: 49px;
  }
  .cid-vgKv9CQAUN .dropdown-item:hover:before {
    transform: scale(1, 1);
    width: 16px;
    -webkit-transform: scale(1, 1);
  }
  .cid-vgKv9CQAUN .navbar-toggler {
    display: none;
  }
  .cid-vgKv9CQAUN .navbar-collapse {
    justify-content: center;
  }
}
.cid-vgKv9CQAUN .navbar-short .menu-content-top {
  height: 0;
  min-height: 0;
  border: none;
}
.cid-vgKv9CQAUN .btn {
  display: -webkit-inline-flex;
  align-items: center;
  -webkit-align-items: center;
  position: relative;
  overflow: hidden;
  margin-right: 0;
}
.cid-vgKv9CQAUN .btn-sm {
  padding: 13px 29px;
}
.cid-vgKv9CQAUN .btn .mbr-iconfont {
  font-size: 1.2em;
}
.cid-vgKv9CQAUN .btn::after {
  background-color: #83868c;
  content: "";
  height: 150px;
  left: -75px;
  position: absolute;
  top: -60px;
  transform: rotate(35deg);
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
  width: 40px;
  opacity: 0;
  outline: none;
  text-decoration: none;
}
.cid-vgKv9CQAUN .btn:hover::after {
  left: 250px;
  opacity: 0.8;
}
.cid-vgKv9CQAUN .navbar-toggleable-sm .navbar-collapse {
  width: auto;
}
.cid-vgKv9CQAUN .navbar-toggleable-sm .navbar-collapse .navbar-nav {
  flex-wrap: wrap;
  padding-left: 0;
}
.cid-vgKv9CQAUN .navbar-toggleable-sm .navbar-collapse .navbar-nav .nav-item {
  align-self: center;
}
.cid-vgKv9CQAUN .navbar-toggleable-sm .navbar-collapse .navbar-buttons {
  padding-left: 0;
  padding-bottom: 0;
}
.cid-vgKv9CQAUN .dropdown .dropdown-menu {
  display: none;
  position: absolute;
  padding: 25px 0;
  text-align: left;
}
@media (max-width: 991px) {
  .cid-vgKv9CQAUN .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-vgKv9CQAUN .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  transition: all 0.25s ease-in-out;
}
.cid-vgKv9CQAUN .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-vgKv9CQAUN .dropdown .dropdown-menu .dropdown-item:hover .mbr-iconfont:before {
  transform: scale(0, 1);
}
.cid-vgKv9CQAUN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-vgKv9CQAUN .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  transform: scale(1, 1);
  transition: all 0.25s ease-in-out;
}
.cid-vgKv9CQAUN .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
}
.cid-vgKv9CQAUN .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-vgKv9CQAUN .navbar.navbar-short {
  min-height: 50px;
  transition: all 0.2s;
}
.cid-vgKv9CQAUN .navbar.navbar-short .navbar-logo a {
  font-size: 2.5rem !important;
  transition: font-size 0.25s;
}
.cid-vgKv9CQAUN .navbar.navbar-short .navbar-logo a .mbr-iconfont {
  font-size: 2.5rem !important;
}
.cid-vgKv9CQAUN .navbar.navbar-short .navbar-logo a img {
  height: 3rem !important;
}
.cid-vgKv9CQAUN .navbar.navbar-short .navbar-brand {
  min-height: 3rem;
}
.cid-vgKv9CQAUN button.navbar-toggler {
  width: 31px;
  height: 18px;
  cursor: pointer;
  transition: all 0.2s;
  margin: 1rem 0.8rem;
  margin-right: 0;
}
.cid-vgKv9CQAUN button.navbar-toggler:focus {
  outline: none;
}
.cid-vgKv9CQAUN button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #282828;
}
.cid-vgKv9CQAUN button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-vgKv9CQAUN button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-vgKv9CQAUN button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-vgKv9CQAUN button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-vgKv9CQAUN nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-vgKv9CQAUN nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-vgKv9CQAUN nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-vgKv9CQAUN nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-vgKv9CQAUN .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-vgKv9CQAUN .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.235em 1.5em 0.235em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-vgKv9CQAUN .collapsed .btn {
  display: flex;
}
.cid-vgKv9CQAUN .collapsed .navbar-collapse {
  display: none !important;
  padding-right: 0 !important;
}
.cid-vgKv9CQAUN .collapsed .navbar-collapse.collapsing,
.cid-vgKv9CQAUN .collapsed .navbar-collapse.show {
  display: block !important;
}
.cid-vgKv9CQAUN .collapsed .navbar-collapse.collapsing .navbar-nav,
.cid-vgKv9CQAUN .collapsed .navbar-collapse.show .navbar-nav {
  display: block;
  text-align: center;
}
.cid-vgKv9CQAUN .collapsed .navbar-collapse.collapsing .navbar-nav .nav-item,
.cid-vgKv9CQAUN .collapsed .navbar-collapse.show .navbar-nav .nav-item {
  clear: both;
}
.cid-vgKv9CQAUN .collapsed .navbar-collapse.collapsing .navbar-buttons,
.cid-vgKv9CQAUN .collapsed .navbar-collapse.show .navbar-buttons {
  display: flex;
  justify-content: center;
  text-align: center;
}
.cid-vgKv9CQAUN .collapsed .navbar-collapse.collapsing .navbar-buttons:last-child,
.cid-vgKv9CQAUN .collapsed .navbar-collapse.show .navbar-buttons:last-child {
  margin-bottom: 1rem;
}
@media (min-width: 992px) {
  .cid-vgKv9CQAUN .collapsed .dropdown .dropdown-menu {
    overflow: hidden;
  }
}
.cid-vgKv9CQAUN .collapsed button.navbar-toggler {
  display: block;
}
.cid-vgKv9CQAUN .collapsed .navbar-brand {
  margin-left: 1rem !important;
  margin-top: 0.5rem;
}
.cid-vgKv9CQAUN .collapsed .navbar-toggleable-sm {
  flex-direction: column;
}
.cid-vgKv9CQAUN .collapsed .dropdown .dropdown-menu {
  width: 100%;
  text-align: center;
  position: relative;
  opacity: 0;
  display: block;
  height: 0;
  visibility: hidden;
  padding: 0;
  transition-duration: 0.5s;
  transition-property: opacity, padding, height;
}
.cid-vgKv9CQAUN .collapsed .dropdown.open > .dropdown-menu {
  position: relative;
  opacity: 1;
  height: auto;
  padding: 1.4rem 0;
  visibility: visible;
}
.cid-vgKv9CQAUN .collapsed .dropdown .dropdown-submenu {
  left: 0;
  text-align: center;
  width: 100%;
}
.cid-vgKv9CQAUN .collapsed .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
  margin-top: 0;
  position: inherit;
  right: 0;
  top: 50%;
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 0.3em;
  vertical-align: middle;
  content: "";
  border-top: 0.3em solid;
  border-right: 0.3em solid transparent;
  border-left: 0.3em solid transparent;
}
.cid-vgKv9CQAUN .collapsed .menu-bottom {
  justify-content: center;
}
@media (max-width: 991px) {
  .cid-vgKv9CQAUN .dropdown-menu {
    margin-top: 0px;
    background-color: transparent;
    color: black !important;
    padding-left: 20px !important;
  }
  .cid-vgKv9CQAUN .dropdown-menu .dropdown-item {
    text-align: left;
    font-weight: 700;
  }
  .cid-vgKv9CQAUN .menu-bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;
  }
  .cid-vgKv9CQAUN .menu-bottom .menu-content-right {
    display: none;
  }
  .cid-vgKv9CQAUN .navbar-collapse {
    padding-bottom: 1rem;
    display: none !important;
    padding-right: 0 !important;
    opacity: 0;
    transition: all 0.3s ease-in;
    position: absolute;
    top: 100%;
    bottom: auto;
    left: 0px;
    right: 0px;
    z-index: 999;
  }
  .cid-vgKv9CQAUN .navbar-collapse .navbar-nav .nav-item {
    clear: both;
    text-align: left;
    padding: 10px 0;
  }
  .cid-vgKv9CQAUN .navbar-collapse.collapsing,
  .cid-vgKv9CQAUN .navbar-collapse.show {
    display: block !important;
  }
  .cid-vgKv9CQAUN .navbar-collapse.collapsing .navbar-nav,
  .cid-vgKv9CQAUN .navbar-collapse.show .navbar-nav {
    display: block;
    text-align: center;
  }
  .cid-vgKv9CQAUN .navbar-collapse.collapsing .navbar-nav .nav-item,
  .cid-vgKv9CQAUN .navbar-collapse.show .navbar-nav .nav-item {
    clear: both;
  }
  .cid-vgKv9CQAUN .navbar-collapse.collapsing .navbar-nav .nav-item .nav-link,
  .cid-vgKv9CQAUN .navbar-collapse.show .navbar-nav .nav-item .nav-link {
    font-weight: 700;
  }
  .cid-vgKv9CQAUN .navbar-collapse.collapsing .navbar-buttons,
  .cid-vgKv9CQAUN .navbar-collapse.show .navbar-buttons {
    display: -webkit-flex;
    justify-content: center;
    text-align: center;
    -webkit-justify-content: center;
  }
  .cid-vgKv9CQAUN .navbar-collapse.collapsing .navbar-buttons:last-child,
  .cid-vgKv9CQAUN .navbar-collapse.show .navbar-buttons:last-child {
    margin-bottom: 1rem;
  }
  .cid-vgKv9CQAUN img {
    height: 3.8rem !important;
  }
  .cid-vgKv9CQAUN .btn {
    display: flex;
  }
  .cid-vgKv9CQAUN button.navbar-toggler {
    display: block;
  }
  .cid-vgKv9CQAUN .navbar-brand {
    margin-left: 1rem !important;
    margin-top: 0.5rem;
  }
  .cid-vgKv9CQAUN .navbar-toggleable-sm {
    flex-direction: column;
  }
  .cid-vgKv9CQAUN .dropdown .dropdown-menu {
    width: 100%;
    text-align: center;
    position: relative;
    opacity: 0;
    display: block;
    height: 0;
    visibility: hidden;
    padding: 0;
    transition-duration: 0.5s;
    transition-property: opacity, padding, height;
  }
  .cid-vgKv9CQAUN .dropdown.open > .dropdown-menu {
    position: relative;
    opacity: 1;
    height: auto;
    padding: 1.4rem 0;
    visibility: visible;
  }
  .cid-vgKv9CQAUN .dropdown .dropdown-submenu {
    left: 0;
    text-align: center;
    width: 100%;
  }
  .cid-vgKv9CQAUN .dropdown .dropdown-toggle[data-toggle="dropdown-submenu"]::after {
    margin-top: 0;
    position: inherit;
    right: 0;
    top: 50%;
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.3em;
    vertical-align: middle;
    content: "";
    border-top: 0.3em solid;
    border-right: 0.3em solid transparent;
    border-left: 0.3em solid transparent;
  }
  .cid-vgKv9CQAUN .navbar-buttons.mbr-section-btn {
    width: 100%;
  }
  .cid-vgKv9CQAUN .dropdown .dropdown-menu .dropdown-item {
    padding: 0.235em 1.5em 0.235em 1.5em !important;
    transition: none;
    margin: 0 !important;
  }
}
.cid-vgKv9CQAUN .navbar-toggler {
  position: relative;
}
.cid-vgKv9CQAUN .dropdown-item.active,
.cid-vgKv9CQAUN .dropdown-item:active {
  color: initial;
}
.cid-vgKv9CQAUN .widget-title {
  color: #83868c;
}
.cid-vgKv9CQAUN .widget-text {
  color: #83868c;
}
.cid-vgKv9CQAUN .icons-menu {
  flex-wrap: wrap;
  display: flex;
  justify-content: center;
  padding-left: 1rem;
  text-align: center;
  align-items: center;
}
.cid-vgKv9CQAUN .icons-menu .mbr-iconfont {
  font-size: 1rem;
  color: #13287d;
  display: inline-flex;
  background-color: #f3f9ff;
  border-radius: 100%;
  transition: all 0.3s ease-in;
}
.cid-vgKv9CQAUN .icons-menu .mbr-iconfont:before {
  padding: .75rem;
}
.cid-vgKv9CQAUN .icons-menu .mbr-iconfont:hover {
  color: #ffffff;
  background-color: #00acee;
  -webkit-animation-name: animation-pulse;
  animation-name: animation-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  opacity: .9;
}
.cid-vgKv9CQAUN .soc-item {
  margin: .5rem .3rem;
}
@media (max-width: 768px) {
  .cid-vgKv9CQAUN .menu-content-top .icons-menu {
    padding-left: 0;
  }
  .cid-vgKv9CQAUN .menu-content-top .icons-menu .soc-item .mbr-iconfont {
    font-size: 14px;
  }
  .cid-vgKv9CQAUN .menu-content-top .icons-menu .soc-item .mbr-iconfont::before {
    padding: 0.44rem;
  }
  .cid-vgKv9CQAUN .menu-content-top .right-wrap .info-widget {
    margin-left: 20px;
  }
  .cid-vgKv9CQAUN .menu-content-top .right-wrap .info-widget:first-child {
    margin-left: 0;
  }
  .cid-vgKv9CQAUN .menu-content-top .right-wrap .info-widget .widget-content {
    display: none;
  }
  .cid-vgKv9CQAUN .menu-content-top .right-wrap .info-widget .widget-icon {
    font-size: 25px;
    padding-right: 0;
  }
  .cid-vgKv9CQAUN .navbar-brand {
    margin-left: 0 !important;
  }
}
@media (max-width: 576px) {
  .cid-vgKv9CQAUN .menu-content-top,
  .cid-vgKv9CQAUN .menu-bottom {
    padding: 0 15px;
  }
  .cid-vgKv9CQAUN button.navbar-toggler {
    align-self: center;
  }
}
@-webkit-keyframes phone-icon-animate {
  0%,
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  20%,
  40% {
    transform: rotate(20deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@keyframes phone-icon-animate {
  0%,
  100% {
    transform: rotate(0) scale(1) skew(1deg);
  }
  10% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  20%,
  40% {
    transform: rotate(20deg) scale(1) skew(1deg);
  }
  30% {
    transform: rotate(-20deg) scale(1) skew(1deg);
  }
  50% {
    transform: rotate(0) scale(1) skew(1deg);
  }
}
@-webkit-keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
@keyframes animation-pulse {
  25% {
    transform: scale(1.1);
  }
  75% {
    transform: scale(0.9);
  }
}
.cid-vgKv9CQAUN .icons-menu .mbr-iconfont {
  color: #00acee !important;
}
.cid-vgKv9CQAUN .mobi-mbri-phone {
  color: #00acee !important;
}
.cid-vgKv9CQAUN .mobi-mbri-letter {
  color: #00acee !important;
}
